<div class="page-container">
  <div class="bloc-container">
    <div class="contac-bloc">
      <div><img src="assets/images/logo.png" style="width: 200px" /></div>
      <div>
        Retrouvez nous aussi sur :
        <div class="contacts">
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
          <mat-icon>facebook</mat-icon>
        </div>
        <div class="contacts">
          <p>Tel : 05 40 58 24 05</p>
          <p>E-mail : dondemmek@gmail.com</p>
          <p>Copyright © -2021, all rights reserved.</p>
        </div>
      </div>
    </div>

    <div class="title-bloc">
      <div>
        A propos :

        <div class="contacts">
          <p>Qui nous sommes</p>
          <p>Site utiles</p>
          <p>Aide et informations</p>
          <p>Rejoignez-nous !</p>
          <p>Besoin d'aide ?</p>
        </div>
      </div>
    </div>

    <div class="contact-bloc">
      <div class="title-bloc">
        <div>Contact :</div>
        <mat-form-field class="example-form-field" appearance="outline" style="width: 200px;">
          <input matInput type="text" [(ngModel)]="value">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>
      <button
      mat-raised-button
      class="login-button"
      color="primary"
      [disabled]="">
      Envoyer
    </button>
    </div>
  </div>
</div>
