.page-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  .bloc-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
.icons {
  display: flex;
  justify-content: space-between;
}
.contacts {
  margin-top: 20px;
}
.title-bloc {
  margin-top: 60px;
}
