<mat-toolbar class="toolbar" color="primary">
    <button  mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Mon profile</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>notifications_off</mat-icon>
                <span>notification</span>
            </button>
            <button mat-menu-item >
                <mat-icon>logout</mat-icon>
                <span>Déconnexion</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/accueil'">
                <mat-icon>home</mat-icon>
                Accueil
            </a>
            <a mat-list-item [routerLink]="'/create-account'"> Don de sang </a>
            <a mat-list-item [routerLink]="'/contacts'"> Présentation </a>
            <a mat-list-item [routerLink]="'/connexion'"> Déconnexion </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sidnav-container">
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
