.toolbar {
    display: flex;
    justify-content: space-between;
}

.sidnav-container {
    width: 80%;
    margin-left: 10%;
    padding-top: 32px;
    padding-bottom: 32px;
    height: calc(100vh - 128px);
}