.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .connexion-container {
    width: 50%;
  }

  .problems-container {
    display: flex;
    justify-content: space-around;
    .pbm-qst {
      cursor: pointer;
    }
    .pbm-pwd {
      cursor: pointer;
    }
  }
}

.connexion-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  .connexion-bloc {
    width: 100%;
    margin-top: 20px;
  }
}
.outline {
  border-style: solid;
  border-color: #3f51b5;
}

.login-button {
  width: 100%;
  margin-top: 20px;
}
