<div class="page-container">
  <div class="connexion-container">
    <mat-card class="outline">
      <form class="connexion-form" (ngSubmit)="login()">
        <mat-form-field class="connexion-bloc" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            [errorStateMatcher]="matcher"
            placeholder="Ex. pat@example.com"
            />
          <mat-error
            *ngIf="emailFormControl.hasError('email') &&
            !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="connexion-bloc" appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput [formControl]="passwordFormControl" />
          <mat-error
            *ngIf="passwordFormControl.hasError('password') &&
            !passwordFormControl.hasError('required')">
            Please enter a valid password
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="problems-container">
          <div class="pbm-qst">avez-vous un probleme?</div>
          <div class="pbm-pwd">mot de passe oublié?</div>
        </div>

        <button
          mat-raised-button
          class="login-button"
          color="primary"
          [disabled]="!emailFormControl.valid || !passwordFormControl.valid">
          Login
        </button>
      </form>
    </mat-card>
  </div>
</div>
