/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #c7cbce3d;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}