<div class="home-filters">

  <img src="../../assets/images/doctor5.svg" style="width: 30%;" alt="doctor">

  <!-- ########## Les filtres ########## -->
  <mat-card class="filtres">
    <h3>Formulaire de recherche</h3>

    <form  class="example-form" [formGroup]="searchForm" (ngSubmit)="search()">

      <div>
        <mat-form-field style="width: 48.5%;" class="filter" appearance="outline">
          <mat-label>Wilaya</mat-label>
          <mat-select formControlName="wilaya">
            <mat-option *ngFor="let wilaya of wilayas" [value]="wilaya">
              {{wilaya}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 48.5%;" appearance="outline">
          <mat-label>Type de don</mat-label>
          <mat-select formControlName="typeDon">
            <mat-option *ngFor="let t of typeDeDon" [value]="t">
              {{t}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width: 48.5%;" class="filter" appearance="outline">
          <mat-label>Groupe sanguin</mat-label>
          <mat-select formControlName="groupeSanguin">
            <mat-option *ngFor="let gr of groupe" [value]="gr">
              {{gr}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 48.5%;" appearance="outline">
          <mat-label>Telephone</mat-label>
          <input type="tel" formControlName="phone" matInput placeholder="Recherche">
          <!-- <mat-icon matSuffix>search</mat-icon> -->
        </mat-form-field>
      </div>
      <button mat-raised-button style="width: 100%;" color="primary" [disabled]="!searchForm.valid">Lancer la recherche</button>
    </form>

  </mat-card>

</div>

<div class="cards">

  <mat-card class="example-card" *ngFor="let person of persons">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{person.name}}</mat-card-title>
      <mat-card-subtitle>Groupe sanguin: {{person.groupSanguin}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Wilaya: {{person.wilaya}}</p>
      <p>E-mail: {{person.email}}</p>
      <p>{{person.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Appeler</button>
      <button mat-button>Faire un don</button>
    </mat-card-actions>
  </mat-card>

</div>

