.home-filters{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .filtres{
        width: 50%;
        .filter {
            padding-right: 16px;
        }
    }
}

.cards{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .example-card{
        width: 20%;
        margin-right: 16px;
        margin-bottom: 16px;

        &:last-child {
            margin-right: 0px;
            margin-bottom: 0px;
        }
    }

}
.example-header-image {
    background-image: url('../../assets/images/band-aid.png');
    background-size: cover;
}

